In [12]:
import pandas as pd
import os
import json

In [37]:
with open("homeless.json") as f:
    homeless = json.load(f)
    
with open("child.json") as f:
    child = json.load(f)
    
with open("gender.json") as f:
    gender = json.load(f)
    
with open("unemployment.json") as f:
    unemployment = json.load(f)

In [62]:
df1 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], gender["features"])))
df2 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], child["features"])))
df3 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], homeless["features"])))
df4 = pd.DataFrame.from_dict(list(map(lambda x: x["properties"], unemployment["features"])))

In [67]:
df1["male_rate"] = df1["males_total"]/df1["persons_total"]
df1.loc[:,["sa2_main16", "male_rate"]].head()

  sa2_main16  male_rate
0  207031162   0.486171
1  206061136   0.493490
2  210031440   0.488302
3  211031451   0.476066
4  206071141   0.497557

In [70]:
df2["child_family_rate"] = df2["cf_no_children_f"]/df2["cf_total_f"]
df2.loc[:,["sa2_main16", "child_family_rate"]].head()

  sa2_main16  child_family_rate
0  210031440           0.785820
1  206061136           2.252228
2  206071141           2.872000
3  210041240           0.616311
4  210041241           0.691365

In [75]:
df3.head()  # no need to handle

   hl_p_homeless_tot sa2_main16
0                223  206071142
1                100  212031302
2                 73  206061136
3                 95  206071141
4                 49  210031440

In [76]:
df4.head()  # no need to handle

   dec_2017 sa2_main11
0       9.9  212031305
1       4.1  208021181
2       4.5  208021182
3       3.8  208031183
4       7.9  212031304

In [ ]:
df3["child_family_rate"] = df3["cf_no_children_f"]/df3["cf_total_f"]
df3.loc[:,["sa2_main16", "child_family_rate"]].head()